*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
    font-style: oblique;
}
img{
    padding-left: 120px;
}
h1{
    color: blue;
    padding-left: 200px;
    font-size: xx-large;
}
p{
    padding-left: 200px;
    font-size: large;
    padding-top: 70px;
}
ol{
    padding-left: 200px;
}
.con{
    display: grid;
    grid-template-columns: 17% 17% 17% 17% 17%;
    grid-template-rows: 35px 35px 35px 35px 35px;
    justify-content: center;
    border-radius: 10px;
    
}
.c6,.c7,.c8,.c9,.c10,.c16,.c17,.c18,.c19,.c20,.c26,.c27,.c28,.c29,.c30{
    border: #979090 0.5px solid;
    background-color: rgb(212, 227, 227);
    
}
.c1,.c2,.c3,.c4,.c5,.c11,.c12,.c13,.c14,.c15,.c21,.c22,.c23,.c24,.c25{
    background-color: white;
    border: #9f9292 0.5px solid;
}
.con2{
    display: grid;
    grid-template-columns: 22% 25% 25% 25%;
    padding-top: 50px;
    grid-template-rows: 35px 35px 35px 35px 35px;
    justify-content: center;
    gap: 15px;
    padding-left: 120px;
    padding-right: 120px;
} 
.c36,.c37,.c38,.c40,.c41,.c42,.c44,.c45,.c46{
    border: #a8a0a0 1px solid;
    background-color: rgb(212, 227, 227);
    border-radius: 10px;
}
/* #add{
    border: red 1px solid;
    height: 25px;
    width: 80px;
    border-radius: 8px;
    background-color: red; 
    position: relative;
    color: white;
    position: absolute;
    left: 2px;
    top: 134%;
}
#remove{
    border: red 2px solid;
    border-radius: 8px;
    color: blue;
    padding-left: -10px;
    
} */
 .a1{
    border: red 1px solid;
    height: 25px;
    width: auto;
    border-radius: 8px;
    background-color: red;
    position: relative;
    color: white;
 }
 #remove{
    border: red 2px solid;
    height: 25px;
    width: auto;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    align-items: center;
    margin-bottom: 10px;
    color: blue;
    display: flex;
    width: 200px;
    justify-content: center;
    align-items: center;

 }
 .c35,.c39,.c43{
    color: blue;
 }
 .c32,.c33,.c34{
    color: blue;
 }
 .c36,.c37,.c38{
    color: #7a7272;
    display: flex;
    justify-content: center;
    align-items: center;
 }
.add{
    background-color: red;
    border-radius: 8px;
    border: red 1px solid;
    height: 30px;
    width: 100px;
    gap: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 100px; 
    margin-left: 150px;
   
}
.remove{
    background-color: white;
    border-radius: 8px;
    border: red 2px solid;
    height: 30px;
    width: 100px;
    gap: 10px;
     margin-left: 260px;
    color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 105px;
    margin-bottom: 60px;
    
}
  

