body{
    padding: 10px;
}
div{
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgb(63, 216, 63);
    padding-bottom: 10px;
    padding-top: 10px;
}
ul{
    color: white;
    background-color: black;
    display: flex;
    gap: 80px;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
}
.foot{
    text-align: center;
    background-color: aquamarine;
    padding-bottom: 30px;
    padding-top: 30px;

}